---
import Layout from "@layouts/Layout.astro";

const pageTitle = "Digital Ghost Web Designs";
const pageDescription = "";
---

<Layout title={pageTitle} description={pageDescription}>
  <slot>
    <h2>Hi</h2>
  </slot>
</Layout>
