---
import Layout from "@layouts/Layout.astro";

const pageTitle = "Privacy Policy | Digital Ghost";
const pageDescription =
  "Learn how Digital Ghost Web Designs collects, uses, and protects your personal information. Our privacy policy ensures transparency and compliance with GDPR to safeguard your data.";
---

<Layout title={pageTitle} description={pageDescription}>
  <slot>
    <section class="py-32">
      <div
        class="max-w-5xl mx-auto p-6 lg:px-8 text-base leading-7 text-zinc-600"
      >
        <h1 class="mt-2 text-3xl font-bold sm:text-4xl text-zinc-900">
          Privacy Policy
        </h1>
        <p>Last update: <span>August 25, 2024 7:20 AM</span></p>
        <p class="mt-4">
          We value your privacy very highly. Please read this Privacy Policy
          carefully before using the https://www.digitalghostwebdesigns.com
          Website (the "Website") operated by Digital Ghost Technologies LLC,
          a(n) Sole Proprietorship formed in Arizona, United States ("us," "we,"
          "our") as this Privacy Policy contains important information regarding
          your privacy and how we may use the information we collect about you.
        </p>
        <p class="mt-4">
          Your access to and use of the Website is conditional upon your
          acceptance of and compliance with this Privacy Policy. This Privacy
          Policy applies to everyone, including, but not limited to: visitors,
          users, and others, who wish to access or use the Website.
        </p>
        <p class="mt-4">
          By accessing or using the Website, you agree to be bound by this
          Privacy Policy. If you disagree with any part of the Privacy Policy,
          then you do not have our permission to access or use the Website.
        </p>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Data We Collect
        </h2>
        <p>
          We may collect and process the following categories of personal data:
        </p>

        <ul class="list-inside list-disc pl-8 pt-4">
          <li>
            Identity Data: Includes your name, username, or similar identifier.
          </li>
          <li>
            Contact Data: Includes your email address, phone number, and
            physical address.
          </li>
          <li>
            Technical Data: Includes your IP address, browser type and version,
            time zone setting, browser plug-in types and versions, operating
            system, and platform.
          </li>
          <li>
            Usage Data: Includes information about how you use our website,
            products, and services. This data is collected using cookies, server
            logs, and similar technologies. We use Google Analytics to collect
            and analyze this data to improve our website and services.
          </li>
          <li>
            Marketing and Communications Data: Includes your preferences in
            receiving marketing from us and your communication preferences.
          </li>
        </ul>
        <p class="mt-2 text-sm">
          If you would like to opt out of Google Analytics, please visit
          <a
            href="https://tools.google.com/dlpage/gaoptout/"
            class="text-purple-700">https://tools.google.com/dlpage/gaoptout/</a
          >.
        </p>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          How We Collect Your Data
        </h2>
        <p>
          We use different methods to collect data from and about you,
          including:
        </p>

        <ul class="list-inside list-disc pl-8 pt-4">
          <li>
            Direct Interactions: You may give us your identity and contact data
            by filling out forms or corresponding with us by email or otherwise.
          </li>
          <li>
            Automated Technologies or Interactions: As you interact with our
            website, we may automatically collect technical data about your
            equipment, browsing actions, and patterns.
          </li>
          <li>
            Third Parties or Publicly Available Sources: We may receive personal
            data about you from various third parties, such as analytics
            providers or social media platforms.
          </li>
        </ul>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          How We Use Your Data
        </h2>
        <p>
          We will only use your personal data when the law allows us to. We
          commonly use your data in the following circumstances:
        </p>

        <ul class="list-inside list-disc pl-8 pt-4">
          <li>
            To Provide Services: To deliver the services you requested from us.
          </li>
          <li>
            To Manage Our Relationship: Including notifying you about changes to
            our services, terms, or privacy policy.
          </li>
          <li>
            To Improve Our Website: We use Google Analytics to understand how
            visitors interact with our site, which pages they visit, and other
            usage patterns. This helps us enhance user experience and optimize
            our content.
          </li>
          <li>
            To Send Marketing Communications: Where you have opted-in to receive
            such communications.
          </li>
          <li>
            To Comply with Legal Obligations: To meet legal and regulatory
            requirements.
          </li>
        </ul>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">Cookies</h2>
        <p>
          What Are Cookies? Cookies are small text files placed on your device
          by websites you visit. They are widely used to make websites work more
          efficiently and to provide information to the owners of the site.
        </p>

        <p class="font-bold text-zinc-900 mt-4 mb-2">
          How We Use Cookies We use cookies to:
        </p>

        <ul class="list-inside list-disc pl-8 pt-4">
          <li>
            Enhance User Experience: Remember your preferences and settings.
          </li>
          <li>
            Analyze Traffic: We use Google Analytics cookies to collect
            information about how visitors use our website. This data helps us
            improve our website and tailor it to our users' needs.
          </li>
          <li>
            Enable Functionality: Some cookies are essential for the operation
            of our website, such as remembering your login details or allowing
            you to complete forms.
          </li>
        </ul>
        <p class="font-bold text-zinc-900 mt-4 mb-2">Types of Cookies We Use</p>

        <ul class="list-inside list-disc pl-8 pt-4">
          <li>
            Essential Cookies: Necessary for the basic functioning of the
            website.
          </li>
          <li>
            Performance Cookies: Used to collect data on how users interact with
            the site, such as which pages are visited most often. These are
            typically anonymized and used for website improvement.
          </li>
          <li>
            Functionality Cookies: Remember choices you make (such as your
            language or the region you are in) and provide enhanced, more
            personalized features.
          </li>
        </ul>
        <p class="font-bold text-zinc-900 mt-4 mb-2">Managing Cookies</p>
        <p>
          You can control the use of cookies at any time by adjusting your
          browser settings. Most browsers allow you to refuse cookies or to
          alert you when a cookie is being sent. However, if you disable or
          refuse cookies, some parts of this site may become inaccessible or not
          function properly.
        </p>

        <p class="font-bold text-zinc-900 mt-4 mb-2">Third-Party Cookies</p>
        <p>
          Some cookies are placed by third parties on our website, including
          Google Analytics. These cookies help us analyze website traffic and
          user behavior. Google Analytics may collect information such as your
          IP address, browser type, and the pages you visit on our site. This
          information is aggregated and anonymized, meaning it does not identify
          you personally.
        </p>
        <br />
        <p>
          For more information on how Google Analytics uses cookies, please
          visit <a
            href="https://policies.google.com/privacy"
            class="text-purple-700">Google's Privacy Policy</a
          >.
        </p>

        <p class="font-bold text-zinc-900 mt-4 mb-2">Cookie Consent</p>
        <p>
          By continuing to use our website, you consent to the placement of
          cookies on your device. You may withdraw your consent at any time by
          managing your cookie preferences through your browser settings.
        </p>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Legal Basis for Processing
        </h2>
        <p>
          We will process your personal data based on one of the following legal
          bases:
        </p>

        <ul class="list-inside list-disc pl-8 pt-4">
          <li>
            Consent: Where you have given your explicit consent for processing.
          </li>
          <li>
            Contract: Where processing is necessary for the performance of a
            contract with you.
          </li>
          <li>
            Legal Obligation: Where processing is necessary to comply with a
            legal obligation.
          </li>
          <li>
            Legitimate Interests: Where processing is necessary for our
            legitimate business interests, except where such interests are
            overridden by your rights.
          </li>
        </ul>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">Data Sharing</h2>
        <p>We may share your personal data with:</p>

        <ul class="list-inside list-disc pl-8 pt-4">
          <li>
            Service Providers: Third-party vendors who assist us in providing
            our services, including Google Analytics, which we use to analyze
            website traffic. Google Analytics may collect information about your
            visits to our site, including your IP address. This data is
            anonymized and aggregated, and it is used to improve our website's
            performance.
          </li>
          <li>
            Professional Advisors: Lawyers, accountants, and insurers who
            provide consultancy and legal services.
          </li>
          <li>
            Regulatory Authorities: Where required by law, we may share your
            data with governmental bodies and regulatory authorities.
          </li>
          <li>
            Business Transfers: In the event of a merger, acquisition, or sale
            of all or a portion of our assets, your data may be transferred to
            the acquiring entity.
          </li>
        </ul>
        <p>
          We do not sell or rent your personal data to third parties for
          marketing purposes.
        </p>

        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          International Transfers
        </h2>
        <p>
          We may transfer your personal data outside of the European Economic
          Area (EEA). When we do, we ensure a similar degree of protection is
          afforded to it by implementing appropriate safeguards, such as using
          standard contractual clauses approved by the European Commission.
          Google Analytics may also transfer data outside the EEA; Google
          complies with applicable legal frameworks for such transfers.
        </p>

        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Data Security
        </h2>
        <p>
          We have implemented appropriate security measures to prevent your
          personal data from being accidentally lost, used, or accessed in an
          unauthorized way. These measures include:
        </p>

        <ul class="list-inside list-disc pl-8 pt-4">
          <li>
            Encryption: We use encryption technology to protect your data during
            transmission.
          </li>
          <li>
            Access Controls: We restrict access to your personal data to those
            employees, agents, contractors, and other third parties who have a
            business need to know.
          </li>
          <li>
            Regular Audits: We regularly review our information collection,
            storage, and processing practices to ensure we comply with legal
            requirements and the latest security standards.
          </li>
        </ul>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Data Retention
        </h2>
        <p>
          We will only retain your personal data for as long as necessary to
          fulfill the purposes we collected it for, including for legal,
          accounting, or reporting requirements.
        </p>

        <ul class="list-inside list-disc pl-8 pt-4">
          <li>
            Retention Period: The retention period depends on the type of data
            and the purposes for which it is processed.
          </li>
          <li>
            Deletion: We will securely delete or anonymize your data when it is
            no longer needed.
          </li>
        </ul>

        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Children's Privacy
        </h2>
        <p>
          This Website is intended for use by a general audience and does not
          offer services to children. Should a child whom we know to be under 18
          send personal information to us, we will use that information only to
          respond to that child to inform him or her that they cannot use this
          Website.
        </p>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Information Retention
        </h2>
        <p>
          We retain personal data only as long as necessary to fulfill the
          purposes for which it was collected or as required by applicable law.
          Once personal data is no longer needed, we securely delete or
          anonymize it.
        </p>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Your Legal Rights
        </h2>
        <p>
          Under the General Data Protection Regulation (GDPR), you have the
          following rights:
        </p>
        <ul class="list-inside list-disc pl-8 pt-4">
          <li>
            The right to access the personal information that we have collected
            about you.
          </li>
          <li>The right to say no to the sale of your personal information.</li>
          <li>
            The right to request that we delete all or some of the personal
            information that we have collected on you.
          </li>
          <li>
            The right to ask us to transmit your personal information that we
            have collected on you to another provider (where technically
            feasible).
          </li>
          <li>
            The right to request that we amend any of the information that we
            have collected about you.
          </li>
          <li>
            The right to withdraw your consent to the processing of your data.
          </li>
          <li>
            The right to request that we restrict the processing of your data.
          </li>
          <li>
            The right to lodge a complaint regarding our collection, sharing and
            processing of data with competent authorities in the proper
            jurisdiction.
          </li>
          <li>
            The right to not have to identify yourself, or of using a pseudonym
            in certain circumstances.
          </li>
          <li>The right to stop receiving unwanted direct marketing.</li>
          <li>
            The right to receive the personal information that we hold about you
            in a portable and, to the extent feasible, a readily usable format
            that allows you to transmit this information to another entity.
          </li>
        </ul>
        <p>
          If you wish to exercise any of these rights, please contact us at
          digitalghosttechnologies@gmail.com.
        </p>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Exercising Your Rights
        </h2>
        <p>
          You may exercise the rights specified above by submitting a consumer
          request to:
          <br />
          <ul class="list-inside list-disc pl-8 py-4">
            <li>Digital Ghost Technologies LLC</li>
            <li>digitalghosttechnologies@gmail.com</li>
            <li>Gilbert, Arizona</li>
          </ul>
          We will need to verify your identity prior to effectuating your request.
          To verify your identity, you will need to provide us with the following
          information with your request:
          <ul class="list-inside list-disc pl-8 py-4">
            <li>Name</li>
            <li>Phone number</li>
            <li>IP address</li>
            <li>Email address</li>
          </ul>
          Please note that we may be unable to process your request if you do not
          provide us with the above information.
          <br />
          We will respond to most consumer requests within 30 to 45 days of receipt,
          depending upon where you reside. However, some requests may take longer.
          We will notify you in writing if we need more time to respond. We have
          the ability to deny your request(s) if certain exceptions in the law apply.
          If we do deny your request, we will provide you with the reasons for such
          denial.
        </p>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">Complaints</h2>
        <p>
          You have the right to lodge a complaint regarding our collection, use
          and sharing of your personal information by contacting us at the
          following contact information:
          <br />
          <ul class="list-inside list-disc pl-8 py-4">
            <li>Digital Ghost Technologies LLC</li>
            <li>digitalghosttechnologies@gmail.com</li>
            <li>Gilbert, Arizona</li>
          </ul>
          Any such complaints must first be addressed to us in writing as required
          by Australia Privacy Act 1988 S 40(1A). We will respond to all complaints
          within a reasonable time (usually 30 days). If you are not satisfied with
          our response to your complaint, you may then lodge a complaint with the
          Office of the Australian Information Commissioner by following the steps
          on <a
            href="https://www.oaic.gov.au/privacy/privacy-complaints/lodge-a-privacy-complaint-with-us/"
            class="text-purple-700">this page</a
          >.
        </p>

        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Accountability
        </h2>
        <p>
          The following person is accountable and responsible for our privacy
          practices and procedures:
          <br />
          <ul class="list-inside list-disc pl-8 py-4">
            <li>Digital Ghost Technologies LLC</li>
            <li>digitalghosttechnologies@gmail.com</li>
            <li>Gilbert, Arizona</li>
          </ul>
          You may lodge a complaint with us by contacting the person accountable
          and responsible for our privacy practices and procedures at the contact
          information above. You may also lodge a complaint with the Office of the
          Privacy Commissioner of Canada by filling out
          <a
            href="https://priv.gc.ca/en/report-a-concern/file-a-formal-privacy-complaint/file-a-complaint-about-a-business/"
            class="text-purple-700">this form</a
          > or calling 1-800-282-1376.
        </p>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Location of Data Processing
        </h2>
        <p>
          All data processing activities undertaken by us take place in Arizona.
        </p>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Third-Party Websites
        </h2>
        <p>
          This Website may contain hyperlinks to websites operated by parties
          other than us. We provide such hyperlinks for your reference only. We
          do not control such websites and are not responsible for their
          contents or the privacy or other practices of such websites. It is up
          to you to read and fully understand their Privacy Policies. Our
          inclusion of hyperlinks to such websites does not imply any
          endorsement of the material on such websites or any association with
          their operators.
        </p>
        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">Do Not Track</h2>
        <p>
          This Website may contain hyperlinks to websites operated by parties
          other than us. We provide such hyperlinks for your reference only. We
          do not control such websites and are not responsible for their
          contents or the privacy or other practices of such websites. It is up
          to you to read and fully understand their Privacy Policies. Our
          inclusion of hyperlinks to such websites does not imply any
          endorsement of the material on such websites or any association with
          their operators.
        </p>

        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Changes to This Privacy Policy
        </h2>
        <p>
          We reserve the right to amend this Privacy Policy at any time. We will
          notify you of any changes to this Privacy Policy by posting the
          updated Privacy Policy to this website or application.
        </p>

        <h2 class="mt-6 mb-2 text-2xl font-bold text-zinc-800">
          Contact Information
        </h2>
        <p>
          If you have any questions about this privacy policy or our data
          protection practices, please contact us at:
        </p>

        <ul class="list-inside list-disc pl-8 pt-4">
          <li>Email Address: digitalghosttechnologies@gmail.com</li>
          <li>Physical Address: Gilbert, Arizona, USA</li>
        </ul>
      </div>
    </section>
  </slot>
</Layout>
