---

---

<header id="header" class="bg-white border-b border-zinc-100">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Main"
    role="navigation"
  >
    <!-- Logo -->
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">Digital Ghost Web Designs</span>
        <img
          class="h-7 w-auto md:h-8"
          src="/logotype.svg"
          alt="Digital Ghost Web Designs"
        />
      </a>
    </div>

    <!-- Mobile menu button -->
    <div class="flex lg:hidden">
      <button
        type="button"
        aria-expanded="false"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-zinc-700 mobile-menu-button"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>

    <!-- Main menu -->
    <div class="hidden lg:flex lg:gap-x-6">
      <div class="relative">
        <button
          type="button"
          class="flex items-center gap-x-1 text-sm text-zinc-900 px-3 py-1 hover:bg-zinc-50 hover:rounded-full hover:text-purple-700 nav-dropdown-toggle"
          aria-expanded="false"
        >
          Services
          <svg
            class="h-5 w-5 flex-none text-zinc-400 pointer-events-none"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"></path>
          </svg>
        </button>

        <div
          class="absolute hidden -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-zinc-900/5 nav-dropdown-menu"
        >
          <div class="p-4">
            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50"
            >
              <div
                class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-zinc-50 group-hover:bg-white"
              >
                <svg
                  class="h-6 w-6 text-zinc-600 group-hover:text-purple-700"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42"
                  ></path>
                </svg>
              </div>
              <div class="flex-auto">
                <a href="#" class="block font-semibold text-zinc-900">
                  Web Design
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-zinc-600">
                  Designing engaging user experiences
                </p>
              </div>
            </div>
            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-zinc-50"
            >
              <div
                class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-zinc-50 group-hover:bg-white"
              >
                <svg
                  class="h-6 w-6 text-zinc-600 group-hover:text-purple-700"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.25 9.75 16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z"
                  ></path>
                </svg>
              </div>
              <div class="flex-auto">
                <a href="#" class="block font-semibold text-zinc-900">
                  Web Development
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-zinc-600">
                  Websites with custom or no-code solutions
                </p>
              </div>
            </div>
            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-zinc-50"
            >
              <div
                class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-zinc-50 group-hover:bg-white"
              >
                <svg
                  class="h-6 w-6 text-zinc-600 group-hover:text-purple-700"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z"
                  ></path>
                </svg>
              </div>
              <div class="flex-auto">
                <a href="#" class="block font-semibold text-zinc-900">
                  Logo Design
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-zinc-600">
                  Memorable logos that define your brand
                </p>
              </div>
            </div>
            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-zinc-50"
            >
              <div
                class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-zinc-50 group-hover:bg-white"
              >
                <svg
                  class="h-6 w-6 text-zinc-600 group-hover:text-purple-700"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605"
                  ></path>
                </svg>
              </div>
              <div class="flex-auto">
                <a href="#" class="block font-semibold text-zinc-900">
                  SEO
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-zinc-600">Optimize your online presence</p>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 divide-x divide-zinc-900/5 bg-zinc-50">
            <a
              href="#"
              class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-zinc-900 hover:bg-zinc-100"
            >
              <svg
                class="h-5 w-5 flex-none text-zinc-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 10a8 8 0 1116 0 8 8 0 01-16 0zm6.39-2.908a.75.75 0 01.766.027l3.5 2.25a.75.75 0 010 1.262l-3.5 2.25A.75.75 0 018 12.25v-4.5a.75.75 0 01.39-.658z"
                  clip-rule="evenodd"></path>
              </svg>
              Watch demo
            </a>
            <a
              href="#"
              class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-zinc-900 hover:bg-zinc-100"
            >
              <svg
                class="h-5 w-5 flex-none text-zinc-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z"
                  clip-rule="evenodd"></path>
              </svg>
              Contact sales
            </a>
          </div>
        </div>
      </div>

      <a
        href="#"
        class="text-sm text-zinc-900 px-3 py-1 hover:bg-zinc-50 hover:rounded-full hover:text-purple-700"
        >About</a
      >
      <a
        href="#"
        class="text-sm text-zinc-900 px-3 py-1 hover:bg-zinc-50 hover:rounded-full hover:text-purple-700"
        >Contact</a
      >
    </div>

    <!-- CTA Button -->
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a
        href="#"
        class="text-sm leading-6 text-zinc-50 px-4 py-2 bg-purple-700 rounded-lg shadow-inner shadow-purple-500 hover:bg-purple-800"
        >Lets connect today</a
      >
    </div>
  </nav>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <div id="mobile-menu" class="hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>

    <!-- mobile menu logo/button -->
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-zinc-900/10"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Digital Ghost Web Designs</span>
          <img
            class="h-7 w-auto"
            src="/logotype.svg"
            alt="Digital ghost web designs"
          />
        </a>
        <button
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-zinc-700 mobile-menu-button"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>

      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-zinc-500/10">
          <div class="space-y-2 py-6">
            <div class="-mx-3">
              <button
                type="button"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base leading-7 text-zinc-900 hover:bg-zinc-50 mobile-dropdown-toggle"
                aria-controls="disclosure-1"
                aria-expanded="false"
              >
                Services
                <svg
                  class="h-5 w-5 flex-none"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <div class="mt-2 space-y-2 hidden" id="disclosure-1">
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm leading-7 text-zinc-800 hover:bg-zinc-50"
                  >Web Design</a
                >
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm leading-7 text-zinc-800 hover:bg-zinc-50"
                  >Web Development</a
                >
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm leading-7 text-zinc-800 hover:bg-zinc-50"
                  >Logo Design</a
                >
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm leading-7 text-zinc-800 hover:bg-zinc-50"
                  >SEO</a
                >
              </div>
            </div>
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-zinc-900 hover:bg-zinc-50"
              >About</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-zinc-900 hover:bg-zinc-50"
              >Contact</a
            >
          </div>
          <div class="py-6">
            <a
              href="#"
              class="-mx-3 block rounded-xl px-3 py-2.5 text-base leading-7 text-zinc-50 bg-purple-700 hover:bg-purple-800"
              >Lets connect today</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script is:inline type="text/javascript">
  function setMobileMenuOpen() {
    const menu = document.getElementById("mobile-menu");
    menu.classList.toggle("hidden");
  }

  function toggleDropdown(toggle, menu) {
    let isExpanded = toggle.getAttribute("aria-expanded");

    if (isExpanded === "false") {
      menu.classList.remove("hidden");
      toggle.setAttribute("aria-expanded", "true");
    } else {
      menu.classList.add("hidden");
      toggle.setAttribute("aria-expanded", "false");
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const mobileMenuButtons = document.querySelectorAll(
      "button.mobile-menu-button",
    );
    mobileMenuButtons.forEach((btn) => {
      btn.addEventListener("click", () => {
        setMobileMenuOpen();
      });
    });

    // Toggle the 'hidden' class to show or hide the dropdown menu
    const dropdownToggles = document.querySelectorAll(".nav-dropdown-toggle");

    // Toggle the 'hidden' class to show or hide the dropdown menu
    dropdownToggles.forEach((toggle) => {
      toggle.addEventListener("click", () => {
        // Find the next sibling element which is the dropdown menu
        const dropdownMenu = toggle.nextElementSibling;

        toggleDropdown(toggle, dropdownMenu);
      });
    });

    const mobileDropdownToggles = document.querySelectorAll(
      ".mobile-dropdown-toggle",
    );

    mobileDropdownToggles.forEach((toggle) => {
      toggle.addEventListener("click", () => {
        let isExpanded = toggle.getAttribute("aria-expanded");
        let menu = toggle.nextElementSibling;

        toggleDropdown(toggle, menu);

        //Change cheveron position
        if (isExpanded === "true") {
          toggle.querySelector("svg").classList.remove("rotate-180");
        } else {
          toggle.querySelector("svg").classList.add("rotate-180");
        }
      });
    });

    // Clicking outside of an open dropwdown menu closes it
    window.addEventListener("click", function (e) {
      if (!e.target.matches(".nav-dropdown-toggle")) {
        document.querySelectorAll("div.nav-dropdown-menu").forEach((menu) => {
          if (!menu.contains(e.target)) {
            menu.classList.add("hidden");
            menu.previousElementSibling.setAttribute("aria-expanded", "false");
          }
        });
      }
    });
  });
</script>
